<div class="con ">
</div>
<h3 class="formulario d-flex justify-content-center mt-3"><img class="icono" src="assets/img/support.png" alt=""></h3>
<div class="container d-flex justify-content-center align-items-center flex-column">
  <form action="" class=" mt-3 w-50 ">
    <input type="email" class="form-control" id="email" placeholder="Usuario">
    <br>
    <input type="email" class="form-control" id="email" placeholder="Email">
    <br>
    <input type="email" class="form-control" id="email" placeholder="Telefono">
    <br>
    <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
    <br>
    <button type="button" class="btn w-25 btn-dark">Enviar</button>
  </form>
</div>
