<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img id="logo"
                src="https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/logos/wz-logo.png"
                width="150" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container" id="barranavegacion navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">INFO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                MAS JUEGOS
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="https://www.callofduty.com/vanguard">CALL OF DUTY VANGUARD</a></li>
                                <li><a class="dropdown-item" href="https://www.callofduty.com/modernwarfare">CALL OF DUTY MODERN WARFARE</a></li>
                                <li><a class="dropdown-item" href="https://www.callofduty.com/blackopscoldwar">CALL OF DUTY COLD WAR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-light" type="submit">JUGAR AHORA</button>
            </form>
        </div>
    </div>
</nav>
