<div id="imgfondo">
  <img src="assets/img/fono.webp" alt="">
</div>
<div class="justify-content-center row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/img/plata.webp" class="card-img" alt="...">
      <div class="card-body">
        <p class="card-text text-light">Call of Duty: Warzone es un videojuego de Battle Royale gratuito lanzado el 10 de marzo de 2020 para PlayStation 4, Xbox One y Microsoft Windows. Se anunció el lanzamiento de una versión para PlayStation 5 y Xbox Series X/S en 2022, con una versión móvil también en desarrollo a partir de 2022.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/descarga.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, quis. Aperiam obcaecati ratione quidem error, voluptates cupiditate repudiandae repellat, vero magni voluptatem ipsam velit. Aperiam facilis recusandae qui cum atque velit fuga, impedit earum magnam!</p>
      </div>
    </div>
  </div>
</div>
<div>
  <h5 class="text-light text-center">
    El monstruo de todas las batallas está aquí. Kong y Godzilla: dos titanes listos para asediar Caldera. Forma un equipo contra estas criaturas legendarias y aprovecha su poder en la Operación Monarca.
  </h5>
</div>
<div>
  <div class="pic">
    <img src="assets/img/godzilla.png" alt="">
  </div>

  <div class="pic2">
    <img src="assets/img/kong.png" alt="">
  </div>
</div>
